@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url('https://fonts.googleapis.com/css?family=Special+Elite');
*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

html {
    background: black;
}

body {
    background: gray;
    width: 100%;
    margin: 0 auto;
}

.intro {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    background-attachment: fixed;
    background-image: url('./mainbg.jpg');
}

.intro header {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: stretch;
    align-items: center;
    padding: 10px;
}

.intro header .logo {
    flex: 1;
    text-align: center;
    width: 100px;
    height: 100px;
    position: relative;
    top: 35px;
    -webkit-animation: logo 5s 2;
    -webkit-animation-direction: alternate;
    animation: logo 5s 2;
    animation-direction: alternate;
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes logo {
    0% {
        left: 0px;
        top: 35px;
    }
    50% {
        left: 200px;
        top: 35px;
    }
    100% {
        left: 0px;
        top: 35px;
    }
}

.intro header .logo a {
    font-size: 1.5rem;
    text-decoration: none;
    color: antiquewhite;
    letter-spacing: 3px;
    font-weight: 700;
    border: 2px dashed rgba(14, 12, 12, 0.897);
}

.intro header .spacer {
    flex: 5;
}

.intro header .menu-btn-box {
    flex: 1;
    display: flex;
    justify-content: center;
}

.intro header .menu-btn-box .menu-btn {
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.intro header .menu-btn-box .menu-btn:hover {
    width: 35px;
}

.intro header .menu-btn-box .menu-btn .menu-btn_line {
    width: 100%;
    height: 2px;
    background: white;
}

.intro header .menu-btn-box .menu-btn:hover .menu-btn_line {
    background: rgb(211, 209, 208);
}

.intro .menu-box {
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(300px);
    transition: 0.2s ease-in-out;
}

.intro .menu-box .menu-box-head {
    padding: 20px;
}

.menu-box-head .x-btn {
    border: 1px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    transition: transform 0.1s ease-in-out;
}

.menu-box-head .x-btn:hover {
    border: 2px solid rgb(228, 149, 4);
    transform: rotate(360deg);
}

.menu-box-head .x-btn a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 26px;
}

.menu-box-head .x-btn:hover a {
    color: rgb(228, 149, 4);
    font-weight: 400;
}

.intro .menu-box .menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.intro .menu-box .menu .menu_item {
    list-style: none;
}

.intro .menu-box .menu .menu_item a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
}

.intro .show-menu-btn {
    transform: translateX(0);
}

.intro .intro-info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.intro .intro-info .intro-info-data {
    text-align: center;
    width: 420px;
}

.intro .intro-info .intro-info-data h2 {
    font-size: 3.3em;
    font-family: "Ubuntu", sans-serif;
    font-weight: 900;
    color: rgb(34, 34, 34);
    text-shadow: 5px 7px 5px rgba(109, 111, 121, 1);
    margin-bottom: 30px;
}

.intro .intro-info .intro-info-data p {
    font-family: "Ubuntu", sans-serif;
    letter-spacing: 3px;
    font-size: 1.8em;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

#about {
    background: #f5f1f1ec;
    padding: 20px 0 50px 0;
}

#about .about-header {
    text-align: center;
}

#about .about-header h2 {
    padding-top: 20px;
    font-size: 1.5em;
}

#about .about-body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .about-body>p {
    width: 50%;
    font-size: 1.4em;
    text-align: justify;
    font-family: 'Special Elite', cursive;
}

#about .about-content {
    background: #f5f1f1;
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 950px) {
    .intro {
        background-position: 20% top;
    }
    .intro .intro-info {
        align-items: flex-end;
        padding-bottom: 50px;
    }
    #about .about-body>p {
        width: 60%;
    }
}

@media only screen and (max-width: 450px) {
    .intro {
        background-position: 40% top;
    }
    .intro .intro-info {
        padding-bottom: 10px;
    }
    .intro .intro-info .intro-info-data h2 {
        background: rgba(255, 255, 255, 0.349);
        margin-bottom: 5px;
        font-size: 2.8em;
    }
    .intro .intro-info .intro-info-data p {
        background: rgba(255, 255, 255, 0.349);
    }
    #about .about-body>p {
        width: 90%;
    }
}

@media only screen and (max-width: 1200px) {
    main {
        height: auto;
    }
}

#skills {
    background-image: url('./skillbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    background-attachment: fixed;
    color: white;
}

#skills .skill-box h1 {
    font-size: 3rem;
    padding: 40px 0 100px 50px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: white;
    text-align: center;
}

#skills .skill-box .skill-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

#skills .skill-box .skill-list .skill-item {
    border: 2px solid rgba(94, 94, 94, 0.466);
    border-radius: 3px;
    padding: 35px 0;
    margin: 20px;
    min-width: 150px;
    text-align: center;
    -webkit-box-shadow: inset 2px 1px 40px -9px rgba(255, 255, 255, 0.19);
    -moz-box-shadow: inset 2px 1px 40px -9px rgba(255, 255, 255, 0.19);
    box-shadow: inset 2px 1px 40px -9px rgba(255, 255, 255, 0.19);
    transition: all 0.2s ease-in;
    cursor: help;
}

#skills .skill-box .skill-list .skill-item:hover {
    border: 2px solid rgba(202, 202, 202, 0.747);
    border-radius: 50%;
}

#skills .skill-box .skill-list .skill-item>i {
    font-size: 3.5em;
}

#skills .skill-box .skill-list .skill-item>p {
    font-size: 1.5em;
    letter-spacing: 3px;
}


/* 
#skills .skill-box .skill-list>.skill-list-ul {
    flex: 1;
    list-style: none;
    text-align: right;
}

#skills .skill-box .skill-list>.skill-list-ul .skill-item {
    width: 60%;
    margin: 0 auto 30px auto;
    display: flex;
    align-items: center;
}

#skills .skill-box .skill-list>.skill-list-ul .skill-item:last-child {
    margin-bottom: 0;
}

#skills .skill-box .skill-list>.skill-list-ul .skill-item .skill-text {
    flex: 2;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    padding-right: 20px;
}

#skills .skill-box .skill-list>.skill-list-ul .skill-item .skill-bar {
    flex: 4;
    height: 15px;
    background: #e9e0e0;
    border-radius: 15px 0 0 15px;
    width: 100%;
}

#skills .skill-box .skill-list>.skill-list-ul .skill-item .skill-bar .skill-bar-color {
    height: 100%;
}

#skills .skill-box .skill-list>.skill-list-ul .skill-item#skill-html .skill-bar-color {
    background: #286769;
    width: 90%;
}

#skills .skill-box .skill-list>.skill-list-ul .skill-item#skill-css .skill-bar-color {
    background: #286769;
    width: 80%;
}

#skills .skill-box .skill-list>.skill-list-ul .skill-item#skill-javascript .skill-bar-color {
    background: #286769;
    width: 40%;
}

#skills .skill-box .skill-list>.skill-list-ul .skill-item#skill-Bootstrap .skill-bar-color {
    background: #286769;
    width: 70%;
}

#skills .skill-box .skill-list>.skill-list-ul .skill-item#skill-JQuery .skill-bar-color {
    background: #286769;
    width: 40%;
}

#skills .skill-box .skill-list>.skill-list-ul .skill-item#skill-Oracle .skill-bar-color {
    background: #286769;
    width: 75%;
}

#skills .skill-box .skill-list>.skill-list-ul .skill-item#skill-Node .skill-bar-color {
    background: #286769;
    width: 39%;
}

#skills .skill-box .skill-list>.skill-list-ul .skill-item#skill-React .skill-bar-color {
    background: #286769;
    width: 35%;
}

#skills .skill-box .skill-list>.skill-list-ul .skill-item#skill-Git .skill-bar-color {
    background: #286769;
    width: 50%;
} */

@media only screen and (max-width: 900px) {
    #skills .skill-box .skill-list .skill-item {
        padding: 20px 0;
        min-width: 120px;
    }
    #skills .skill-box .skill-list .skill-item>i {
        font-size: 2.5em;
    }
    #skills .skill-box .skill-list .skill-item>p {
        font-size: 1.2em;
    }
}

.contact {
    background-image: url('./formbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    width: 65%;
    height: 90vh;
    /* padding-top: 50px; */
}

.contact>h1 {
    font-size: 2.5em;
    margin-left: 140px;
}

.contact>.email-div {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.contact>.email-div>p {
    width: 50%;
    padding-left: 30px;
}