@import url('https://fonts.googleapis.com/css?family=Ubuntu:300');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100');
@import url('https://fonts.googleapis.com/css?family=Kalam:700');
*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
}
button:focus{
    outline: none;
}

html {
    background: black;
}

body {
    width: 100%;
    margin: 0 auto;
}

.intro {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    background-attachment: fixed;
    background-image: url('./mainbg2.jpg');
}

.intro header {
    position: fixed;
    background: rgba(0, 0, 0, 0.781);
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: stretch;
    align-items: center;
    padding: 10px;
}

.intro header .logo {
    flex: 1;
    text-align: center;
    width: 100px;
   
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes logo {
    0% {
        left: 0px;
        top: 35px;
    }
    50% {
        left: 200px;
        top: 35px;
    }
    100% {
        left: 0px;
        top: 35px;
    }
}

.intro header .logo a {
    font-size: 3rem;
    text-decoration: none;
    color: antiquewhite;
    letter-spacing: 3px;
    font-weight: 700;
    font-family: 'Kalam', cursive;
    /* font-family: "Ubuntu", sans-serif; */
    /* border: 2px dashed rgba(14, 12, 12, 0.897); */
    text-transform: uppercase;
    color: #FFF;
    /* text-shadow: #FFF 0 0 10px; */
    
}

.intro header .spacer {
    flex: 5;
}

.intro header .menu-btn-box {
    flex: 1;
    display: flex;
    justify-content: center;
}

.intro header .menu-btn-box .menu-btn {
    width: 35px;
    height: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.intro header .menu-btn-box .menu-btn:hover {
    width: 40px;
}

.intro header .menu-btn-box .menu-btn .menu-btn_line {
    width: 100%;
    height: 3px;
    background: antiquewhite;
}

.intro header .menu-btn-box .menu-btn:hover .menu-btn_line {
    background: rgb(228, 149, 4);
}

.intro .menu-box {
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    transform: translateX(300px);
    transition: 0.2s ease-in-out;
}

.intro .menu-contact-icons{
display: flex;
justify-content: center;
height: 150px;
}
.intro .menu-contact-icons a{
    margin: 0 10px;
}
.menu-contact-icons .w-icon i{
    color: #48EE68;
text-shadow: 2px 1px 5px rgb(0, 0, 0);

}
.menu-contact-icons .x-icon i {
    color: #00595E;
    text-shadow: 2px 1px 5px rgb(0, 0, 0);

}
.menu-contact-icons .g-icon i{
  color: rgb(233, 232, 232);
  text-shadow: 2px 1px 5px rgb(0, 0, 0);
}
.intro .menu-box .menu-box-head {
    padding: 20px;
}

.menu-box-head .x-btn {
    border: 1px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    transition: transform 0.1s ease-in-out;
}

.menu-box-head .x-btn:hover {
    border: 2px solid rgb(228, 149, 4);
    transform: rotate(360deg);
}

.menu-box-head .x-btn a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 26px;
}

.menu-box-head .x-btn:hover a {
    color: rgb(228, 149, 4);
    font-weight: 400;
}

.intro .menu-box .menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.intro .menu-box .menu .menu_item {
    list-style: none;
}

.intro .menu-box .menu .menu_item a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
}

.intro .show-menu-btn {
    transform: translateX(0);
}

.intro .intro-info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.intro .intro-info .intro-info-data {
    text-align: center;
    width: 50%;
}

.intro .intro-info .intro-info-data h2 {
    font-size: 3.3em;
    font-family: "Ubuntu", sans-serif;
    font-weight: 900;
    color: rgb(34, 34, 34);
    text-shadow: 5px 7px 5px rgba(109, 111, 121, 1);
    margin-bottom: 30px;
}

.intro .intro-info .intro-info-data p {
    font-family: "Ubuntu", sans-serif;
    letter-spacing: 3px;
    font-size: 1.8em;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

#about {
    background: #f5f1f1ec;
    padding: 20px 0 50px 0;
}

#about .about-header {
    text-align: center;
    padding: 20px;
}

#about .about-header h2 {
    font-family: "Ubuntu", sans-serif;
    padding-top: 20px;
    font-size: 2em;
}

#about .about-body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .about-body>p {
    width: 50%;
    font-size: 1.5em;
    text-align: justify;
    font-family: 'Quicksand', sans-serif;
    line-height: 2;
    letter-spacing: 2px;
}

#about .about-content {
    background: #f5f1f1;
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skills {
    background-image: url('./skillbg.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
     background-position: center;
    background-attachment: fixed;
    color: white;
}

#skills .skill-box h1 {
    font-size: 3rem;
    padding: 40px 0 100px 0;
    /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
    font-family: "Ubuntu", sans-serif;
    color: white;
    text-align: center;
}

#skills .git-p{
    font-size: 2rem;
    font-family: "Ubuntu", sans-serif;
    color: white;
    text-align: center;
    /* margin: 50px 0; */
    padding:  50px 0;
} 
#skills .skill-box .skill-list {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    margin: 0 auto;
}

#skills .skill-box .skill-list .skill-item {
    border: 2px solid rgba(94, 94, 94, 0.466);
    border-radius: 3px;
    padding: 35px 0;
    margin: 20px;
    min-width: 150px;
    min-height: 160px;
    text-align: center;
    -webkit-box-shadow: inset 2px 1px 40px -9px rgba(255, 255, 255, 0.19);
    -moz-box-shadow: inset 2px 1px 40px -9px rgba(255, 255, 255, 0.19);
    box-shadow: inset 2px 1px 40px -9px rgba(255, 255, 255, 0.19);
    transition: all 0.2s ease-in;
    cursor: help;
}

#skills .skill-box .skill-list .skill-item:hover {
    border: 2px solid rgba(202, 202, 202, 0.747);
    border-radius: 50%;
}

#skills .skill-box .skill-list .skill-item>i {
    font-size: 3.5em;
}

#skills .skill-box .skill-list .skill-item>img {
    height: 40px;
}

#skills .skill-box .skill-list .skill-item>p {
    font-size: 1.5em;
    letter-spacing: 3px;
}

#contact {
    padding: 50px 0 10px 0;
    background: #323B42;
}

#contact .contact-body {
    width: 100%;
    margin: 0 auto;

}

#contact .contact-body h1 {
    padding: 40px 0 80px 0;
    font-size: 3.2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 1;
    color: rgb(151, 145, 145);
    text-align: center;
    letter-spacing: 1px;
}

.contact-body-content{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 10px;
}
#contact .contact-body form {
    display: none;
    flex-wrap: wrap;
    order: 1;
    justify-content: center;
    border: 1px solid rgba(151, 145, 145, 0.377);
    border-radius: 5px;
    padding: 30px;
    max-width: 800px;
    margin: 50px 0;
}
#contact .contact-body  .show-form{
    display: flex;

}

#contact .contact-body form input {
    flex: 0 0 48%;
    background: none;
    border: none;
    border-bottom: 1px solid rgb(151, 145, 145);
    font-size: 1em;
    letter-spacing: 2px;
    padding: 0 0 15px 10px;
    color: white;
}

#contact .contact-body form input:focus {
    border-bottom: 1px solid white;
}

#contact .contact-body form input[type=email] {
    margin-left: 20px;
}

#contact .contact-body form textarea {
    flex: 0 0 96%;
    background: none;
    border: none;
    border-bottom: 1px solid rgb(151, 145, 145);
    font-size: 1em;
    letter-spacing: 2px;
    margin: 30px 0;
    padding: 0 0 0 10px;
    color: white;
    align-self: center;
    resize: vertical;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#contact .contact-body form textarea:focus {
    border-bottom: 1px solid white;
}

#contact .contact-body form button {
    background: none;
    border: none;
    border: 1px solid rgb(151, 145, 145);
    padding: 5px 40px;
    color: rgb(151, 145, 145);
    border-radius: 4px;
    margin: 20px 0 0 0;
    cursor: pointer;
}

#contact .contact-body form button:hover {
    border: 1px solid white;
    color: white;
}

#contact .contact-body .contact-model {
    margin: 0 30px;
    padding: 30px;
    border: 1px solid rgba(151, 145, 145, 0.377);
    border-radius: 5px;
    text-align: center;
order: 2;
}

#contact .contact-body .contact-model h2 {
    font-size:2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 1;
    color: rgb(151, 145, 145);
    margin-bottom: 30px;
}

#contact .contact-body .contact-model h2>i {
    font-size: 3rem;
}

#contact .contact-body .contact-model h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    font-weight: 1;
    color: rgb(151, 145, 145);
    margin-bottom: 20px;
    letter-spacing: 3px;
    transform: scaleY(1.1);
}
#contact .contact-body .contact-model h3 i {
    transition: all 0.5s ease-in-out;
    color: rgb(151, 145, 145);
}
#contact .contact-body .contact-model h3 a{
    text-decoration: none;
    color: rgb(151, 145, 145); 
}
#contact .contact-body .contact-model h3:hover{
    color: rgb(185, 185, 185);
}
#contact .contact-body .contact-model h3:hover i {
    color: rgb(185, 185, 185);
    transform: scale(1.3);

}

#contact .contact-body .contact-model .contact-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .contact-body .contact-model .contact-icons a {
    text-decoration: none;
    margin: 10px 20px;
    color: rgb(151, 145, 145);
    border: 0.5px solid transparent;
    width: 80px;
    height: 80px;
display: flex;
justify-content: center;
align-items: center;
}

#contact .contact-body .contact-model .contact-icons a i{
transition: all 0.2s ease-in-out;
}

.contact-icons .w-icon:hover i{
    color: #48EE68;
text-shadow: 2px 1px 5px rgb(0, 0, 0);

}
.contact-icons .x-icon:hover i {
    color: #00595E;
    text-shadow: 2px 1px 5px rgb(0, 0, 0);

}
.contact-icons .g-icon i{
border-radius: 55%;
}
.contact-icons .g-icon:hover i{
  color: #24292E;
  background: rgb(151, 145, 145);
  text-shadow: 2px 1px 5px rgb(0, 0, 0);
}
.contact-icons .e-icon:hover i{
    color: rgb(6, 87, 141);
    text-shadow: 2px 1px 5px rgb(0, 0, 0);
  }

  .contact-footer{
    color: rgb(151, 145, 145);
    letter-spacing: 4px;
    text-align: center;
    width: 100%;
    margin-top: 30px;
    border-top: 1px dashed rgb(116, 116, 116);
    padding: 10px 0;
    background: rgba(31, 31, 31,0.6);
  }